
.form-control {
    width: 15em;
    padding-top: .10em;
    top: 30px;
}
.search {
    position: relative;
    margin-left: 100px;
    margin-top: -33px;
    margin-bottom: 20px;
    clear: both;
    float: left;
    height: 25px;
    width: 23em;

}

.logo1 {
    position: absolute;
    float: left;
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: -3px;
}

.list-padding li {
    padding-bottom: 10px;
    padding-right: -5px;
    font-size: 13px;
    display: inline;
    height: 10px;
    margin: 15px;
}

.logo2 {
    display: inline;
    float: right;
    padding-bottom: 50px;
    margin-top: -30px;
    margin-right: 400px;
    color: black;
}

.repository-format {
    color: blue;
    display: inline;
    float: right;
    margin-right: 60%;
    margin-top: -20em;
    font-size: 1.5em;

}

hr.horizontal {
    width: 300%;
    border: 1px solid black;
}

.logo2 a {
    color: black;
}

.hr-format {
    margin-top: -0.08em;
   // padding-bottom: 10em;
}

.hr-align {
    float: left;
    width: 60px;
    margin-top: 1%;
    padding-right: 10%;
}

.zero-format {
    font-size: 30px;
    margin-top: 1.1em;
    margin-right: 44.9em;
    margin-left: 0.01em;
    padding-left: 0em;

}

.contribution-format {
    margin-left: 16em;
    font-size: 1.5em;
}

.popular-format {
    margin-left: 16em;
    font-size: 1.5em;
    border-style: 1px solid;
   // border-top: 1px;
    margin-right: 29%;
    font-weight: bold;
    //border-radius: 10px 10px;
}

.email-format {
    margin-top: -25px;
}

.list-padding li a {
    color: black;
}

li {
    list-style: none;
}

