* {
    margin: 0px;
    padding: 0px;
}


.form-control {
	width: 20em;
    padding-top: .10em;
    top: 30px;

}

a {
	margin: 45px;
}

.change  {
    list-style-type: none;
    margin: auto;
    font-size: 100%;
    float: right;
    margin: auto;
}

.change li {
    display: inline;
}

body {
    margin: 0px;
    padding: 0px;
}
