<!DOCTYPE html>
<html>
	<head>
		<link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet'>
		<link href="css/style.css" rel='stylesheet'>
		<link href="../octicons/octicons.css" rel="stylesheet">
	</head>
	<body style="margin-left: 25px;">

	<br />

	<nav class="nav_height" style="color: brown">
	    <div class="center">
	    	<div class="image-format">
			  	<a href="#"><span class="octicon octicon-octoface logo1" ></span></a>
  			  	<input type="email" class="form-control search" id="exampleInputEmail1" placeholder="Search GitHub">
			</div>
			  
			  	

			  	<div>
				    <ul class="list-padding">
				    	<li><a href="#">Explore</a></li>
				    	<li><a href="#">Gist</a></li>
				    	<li><a href="#">Blog</a></li>
				    	<li><a href="#">Help</a></li>
				    </ul>
		    	</div>

		    	<div class="logo2">
		    		<a href="#" alt="logo1"><span class="octicon octicon-book"></span></a>
		    		<a href="#" alt="myusername">rcantu1234</a>
		    		<a href="#" alt="logo2"><span class="octicon octicon-plus"></span></a>
		    		<a href="#" alt="logo3"><span class="octicon octicon-inbox"></span></a>
		    		<a href="#" alt="logo4"><span class="octicon octicon-gear"></span>
		  		    <a href="#" alt="logo5"><span class="octicon octicon-sign-out"></span></a>
		    	</div>
		</div>
	</nav>

	  	<hr width="100%"/>


			<h1>Hello <%= @profile_data['name'] %></h1>

			<a href="#"><img src='<%= @profile_data["avatar_url"] %>' width="<%= 200 %>" height="<% 200 %>"/></a>

			<h3>ROEL CANTU</h3>
			<h4>rcantu1234</h4>

			<hr class="hr-align" />

			<br />
			<br />
			<br />

			<div class="email-format">
				<span class="octicon octicon-mail"></span></a><a href="#" alt="email-address">roel.cantu@yahoo.com</a>
			</div>

			<div>
				<span class="octicon octicon-clock">Joined on Jan 4, 2015</span>
			</div>

			<br />

			<!-- <ul>
				<% @repos_data.each do |repo| %>
				  <li> <%= repo['name'] %> </li>
				<% end %>
			</ul> -->
		<!-- </div> -->

	</body>
</html>