<!DOCTYPE html>
<html>
	<head>
		<link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet'>
		<link href="../octicons/octicons.css" rel="stylesheet">
		<link href="css/style.css" rel='stylesheet'>

	</head>
	<body style="margin-left: 25px;">

<hr />
	<nav>
	    <div>
	    	<div>
			  	<a href="#"><span class="octicon octicon-octoface logo1" ></span></a>
  			  	<input type="email" class="form-control search" id="exampleInputEmail1" placeholder="Search GitHub">
			</div>

			  	<div>
				    <ul class="list-padding">
				    	<li><a href="#">Explore</a></li>
				    	<li><a href="#">Gist</a></li>
				    	<li><a href="#">Blog</a></li>
				    	<li><a href="#">Help</a></li>
				    </ul>
		    	</div>

		    	<div class="logo2">
		    		<a href="#" alt="logo1"><span class="octicon octicon-book"></span></a>
		    		<a href="#" alt="myusername"> rcantu1234 </a>
		    		<a href="#" alt="logo2"><span class="octicon octicon-plus"></span></a>
		    		<a href="#" alt="logo3"><span class="octicon octicon-inbox"></span></a>
		    		<a href="#" alt="logo4"><span class="octicon octicon-gear"></span>
		  		    <a href="#" alt="logo5"><span class="octicon octicon-sign-out"></span></a>
		    	</div>
		</div>
	</nav>

	  	<hr class="hr-format" width="100%"/>

	  	<div class="links-format">
			<h3>Hello <%= @profile_data['name'] %></h3>

		    <div class="contribution-format"><a href="#"><span class="octicon octicon-plus"></span> Contributions </a></div>

		    <div class="repositories-format"><a href="#"><span class="octicon octicon-repo "></span> Repositories </a></div>

		    <div class="public-activity-format"><a href="#"><span class="octicon octicon-rss"></span> Public activity </a></div>

		    <div class="github-format"><a href="#"><span class="octicon octicon-logo-github"></span></a></div>

		    <div class="popular-format">Popular repositories</div>

		</div>

			<a href="#"><img src='<%= @profile_data["avatar_url"] %>' width="<%= 200 %>" height="<% 400 %>"/></a>

			<h3>ROEL CANTU</h3>
			<h4>rcantu1234</h4>

			<hr class="hr-align" />

			<br />
			<br />
			<br />

			<div class="email-format">
				<span class="octicon octicon-mail"></span></a><a href="#" alt="email-address">  roel.cantu@yahoo.com </a>
			</div>

			<div>
				<span class="octicon octicon-clock"> Joined on Jan 4, 2015 </span>
			</div>

			<hr class="hr-align" />

			<div class="zero-format">
					<a href="#"><span class="octicon octicon-mortar-board"></span> March 27, 2015 </a>
			</div>

			<hr class="hr-align" />

			<div class="repository-format">
				<ul>
					<li>
					<% @repos_data.each do |repo| %>
					  <li><a href="#"><span class="octicon octicon-repo "> <%= repo['name'] %></span></a> </li>
					  <li><hr class="horizontal"></li>
					<% end %></li>
				</ul>
			</div>
			<div class="fourth-day-format">Fourth Day Assignments</div>
			<div class="gitstuff-format">Git stuff</div>
			<div class="second-day-format">Second Day Homework</div>
			<div class="third-day-format">Third Day Assignments</div>
			<div class="tic-tac-toe-format">Tic-Tac-Toe Game</div>
			<div class="monday-format">Monday Assignment</div>

			<div class="star1 links-format"><a href"#"> 0 <span class="octicon octicon-star"></span> </a></div> 

			<div class="star2 links-format"><a href"#"> 0 <span class="octicon octicon-star"></span> </a></div> 

			<div class="star3 links-format"><a href"#"> 0 <span class="octicon octicon-star"></span> </a></div> 

			<div class="star4 links-format"><a href"#"> 0 <span class="octicon octicon-star"></span> </a></div> 

			<div class="star5 links-format"><a href"#"> 0 <span class="octicon octicon-star"></span> </a></div> 

			<div class="star6 links-format"><a href"#"> 0 <span class="octicon octicon-star"></span> </a></div> 
	</body>
</html>